@charset "utf-8";
.sys_coant{
	width: 100%;
	margin: 0 auto;
}
.sys_img{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.sys_img img{
	width: 100%;
	margin-top: 30px;
}
.sys_float{
	overflow: hidden;
	width: 900px;
	margin: 30px auto 0px;
}
.sys_float .sysLeft{
	float: left;
	width: 440px;
	margin: 0 auto;
}
.sys_float .sysLeft img{
	width: 100%;
}
.sys_float .sysRight{
	float: right;
	width: 320px;
	margin: 20px auto 0px;
	background: url(../img/kbg.png) no-repeat center center;
	background-size: 100% 100%;
	padding: 20px;
}
.sys_float .sysRight ul{
	overflow: hidden;
}
.sys_float .sysRight ul li{
	float: left;
	width: 160px;
	margin: 0 auto;
	text-align: center;
	color: #92c1fa;
	font-size: 14px;
	cursor: pointer;
}
.sys_float .sysRight ul .landstyle{
	background: url(../img/jt.png) no-repeat center bottom;
	padding-bottom: 10px;
	color: #ffff00;
}
.sys_float .sysRight .landBox{
	margin-top: 10px;
}
.sys_float .sysRight .landBox .landcont .land_div{
	font-size: 0px;
	background-color: #275189;
	border:1px solid #7aa8e4;
	border-radius: 3px;
	margin-top: 15px;
}
.sys_float .sysRight .landBox .landcont .land_div input{
	width: 264px;
	margin: 0 auto;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	border:0px;
	font-size: 14px;
	vertical-align: middle;
	padding: 8px 5px;
	background-color: #275189;
	color: #fff;
}
.sys_float .sysRight .landBox .landcont .land_div img{
	vertical-align: middle;
}
.sys_float .sysRight .landBox .landcont .land_div .close{
	display: none;
	cursor: pointer;
}
.sys_float .sysRight .landBox .landcont .land_div .code{
	width: 150px;
}
.sys_float .sysRight .landBox .landcont .land_div .verify-code-panel{
	width: 70px;
	padding: 3px 0px;
	background-color: #fff;
	-moz-border-radius: 60px;
  -webkit-border-radius:60px;
	border-radius: 60px;
	font-size: 14px;
	color: #275189;
	float: right;
	margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    letter-spacing:2px;
}
.land_sub input{
	width: 100%;
	margin: 20px auto 30px;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	border:1px solid #fcd930;
	-moz-border-radius: 3px;
    -webkit-border-radius:3px;
	border-radius: 3px;
	font-size: 14px;
	vertical-align: middle;
	padding: 8px 5px;
	background-color: #fcd930;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	letter-spacing:10px;
}
.land_sub input:hover{
	background-color: #eac926;
}
.landcont .land_div input::-webkit-input-placeholder{color: #fff;}    
.landcont .land_div input:-moz-placeholder{color: #fff;}                  
.landcont .land_div input::-moz-placeholder{color: #fff;}                  
.landcont .land_div input:-ms-input-placeholder{color: #fff;}  
.foot{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
}
.foot .footBox{
	text-align: center;
	font-size: 12px;
	color: #234368;
	padding-bottom: 15px;
}
