<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


    <!--用来启动 log4jConfigLocation的servlet -->
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>com.filter.Log4jInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>/WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>

    </servlet>




    <servlet>
        <servlet-name>initDb</servlet-name>
        <servlet-class>com.filter.InitDbPoolConnection</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>


    <!-- 过滤器字符格式 -->
    <filter>
        <filter-name>CharactorFilter</filter-name>
        <filter-class>com.filter.CharFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharactorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- sessionfilter  只控制jsp结尾的文件-->

    <!--<filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.filter.SessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->




</web-app>
